@media screen and (min-width: 300px) and (max-width: 500px) {
    header {
        height: 25vh;
        flex-direction: column;
        justify-content: center;
    }

    .header_link {
        width: 90%;
    }

    main {
        height: 65vh;
    }

    .banner {
        height: 34%;
    }

    .article_box {
        height: 66%;
        flex-direction: column;
    }

    .article_group {
        flex-direction: column;
        width: 100%;
    }

    .article {
        width: 90%;
        height: 40%;
    }
}