@media screen and (min-width: 300px) and (max-width: 500px) {

    .upper {
        height: 15vh;
    }

    .container {
        flex-direction: column;
        height: 85vh;
    }

    .main {
        width: 100%;
        height: 65vh;
    }

    .center {
        width: 100%;
        height: 60%;
    }

    .box_container {
        width: 100%;
    }

    .box {
        height: 65%;
        width: 25%;
    }

    .aside_lower {
        height: 20vh;
        width: 100%;
    }
}