@media screen and (min-width: 300px) and (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .centralis {
        width: 100vw;
        height: 70%;
    }

    .aside_inferior {
        height: 30%;
        width: 100vw;
    }
}